/* Whole Page */
.page{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Header Section */
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.title {
    font-weight: bolder;
    font-size: 60px;
    color: #005f73;
    margin-bottom: 10px;
}

/* Options Section */

.optionSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.OptionTitle{
    font-size: 30px;
    font-weight: bolder;
    color: #ca6702;
    margin-bottom: 10px;
}

.Options {
    display: flex;
    justify-content: space-around;
}

button {
	background-color: white;
    height: 75px;
    width: 160px;
    font-weight: bold;
    text-align: center;
    color: #001219;
    font-size: 30px;
    border: 5px solid #e9d8a6;
    border-radius: 10px;
    cursor: pointer;
}

/* Choices Section */
.choiceSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.Choices {
    font-weight: bold;
    font-size: 20px;
    color: #001219;
    margin-bottom: 10px;
}

.scoresSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.Scores {
    font-weight: bold;
    font-size: 20px;
    color: #001219;
    margin-bottom: 10px;
}

.scoreboard {
    font-size: 30px;
    margin-bottom: 20px;
    color: #ca6702;
    font-weight: bolder;
}

#results {
    font-weight: bolder;
    font-size: 60px;
    text-align: Center;
    color: #005f73;
}

